* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
  height: 2000px;
}

header {
  background-color: #6201ef;
  padding: 12px;
  display: flex;
  position: sticky;
  width: 100%;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  color: white;
  gap: 1rem;
}

.last {
  margin-left: auto;
}

span {
  font-size: 1.2rem;
}

i {
  padding: 10px;
  cursor: pointer;
  height: 35px;
}

i:hover {
  background-color: #9e6de7;
  border-radius: 50%;
}

p {
  font-size: 1.2rem;
}

.text {
  margin-top: 1rem;
}
